
body{background-color: lightgray;}
.titolo1{color: darkred; font-family: arial black; font-size: 80px}
.titolo2{color: blue; font-family: arial; font-size: 50px}
.titolo3{color: black; font-family: arial; font-size: 20px}
.titolo4{color: darkgreen; font-family: verdana; font-size: 60px}
